body
{
	margin: 0px;
	padding: 0px;
	background: url('../images/background.png');
}

a
{
	display: block;
	text-decoration: none;
	color: black;
}

img
{
	border: 0px;
}

table
{
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-collapse: separate;
}

input
{
	border: 1px solid gray;
	margin: 0;
    padding: 0;
    width: 100%;
}

input[type="text"]
{
	border: 0;
    height: 100%;
}
.invisible
{
	display: none;
}

/************ MENU ************/

div.menu
{
	background: url('../images/background.png') #365D95;
	font-weight: bold;
	color: #FFFFFF;
	border-bottom: solid 5px #4F8DDD;
}

div.menu a
{
	display: inline-block;
	background: #4272B5;
	width: 100px;
	margin: 5px 0px 0px 5px;
	padding: 2px;
	text-align: center;
	color: #FFFFFF;
}

div.menu a.selected
{
	background: #4F8DDD;
}

table.list
{
	width: 1000px;
	margin: 10px;
	border-collapse: separate;
}

table.list tr td
{
	padding: 3px;
	vertical-align: top;
}

table.list tr.header
{
	background: #4F8DDD;
	color: #FFFFFF;
}

table.list tr td.status_na
{
	background: #EFD353;
	color: #FFFFFF;
	font-weight: bold;
}

table.list tr td.status_offline
{
	background: #FF5C59;
	color: #FFFFFF;
	font-weight: bold;
}

table.list tr td.status_online
{
	background: #60EF53;
	color: #FFFFFF;
	font-weight: bold;
}

table.list tr.mainline,
table.list tr.detailline
{
	background: url('../images/transperent.png');
}

table.sublist tr
{
	background: url('../images/transperent.png');
	padding: 10px;
}

table.sublist tr:hover
{
	background: url('../images/transperent.png') #909090;
}

input[type=button].button_80
{
	width: 80px;
}

input[type=button].button_20
{
	width: 19px;
	margin-left: 1px;
}

select
{
	border: 1px solid gray;
	margin: 0;
	padding: 0;
	width: 100%;
}
